<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="mySection" type="Hsf.Framework.MySection, Hsf.Framework"/>
  </configSections>
  <mySection>
    <add key="user" value="aaa" />
    <add key="user1" value="bbb" />
    <add key="200015010100002" value="wali_Server" />
  </mySection>
</configuration>