<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>
  <unity>
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Unity.Interception.Configuration"/>
    <containers>
      <container name="NLPContainer">
        <register type="Hsf.Interface.INlp,Hsf.Interface" mapTo="Hsf.Service.BaseNlp, Hsf.Service" name="Base"/>
        <register type="Hsf.Interface.INlp,Hsf.Interface" mapTo="Hsf.Service.SmartHomeNlp, Hsf.Service" name="SmartHome"/>
        <!--<register type="Hsf.Interface.INlp,Hsf.Interface" mapTo="Hsf.Service.ShopNlp, Hsf.Service" name="Shop"/>
        <register type="Hsf.Interface.INlp,Hsf.Interface" mapTo="Hsf.Service.MusicNlp, Hsf.Service" name="Music"/>-->
      </container>
    </containers>
  </unity>
</configuration>